@charset "UTF-8";

	
@import url("../css/css_/navbar.css");
@import url("../css/css_/side.css");
@import url("../css/css_/title.css");
@import url("../css/css_/main.css");
@import url("../css/css_/footer.css");



@import url("../css/css_tablet/tablet.css");
@import url("../css/css_laptop/laptop.css"); 
@import url("../css/css_mobile/mobile.css");




	
	    /* screen > 1024px; 넓이가 최소 1024px */
		/* @media screen and  (min-width:1024px){
		
		   .titlewrap{
				width:675px;
				margin:0 auto;
				margin-top:100px;
			}
			
			.titlewrap li{
				width:120px;
				height:120px;
				
			}
			
			.tilte{
			font-size:1000px;
			
			}
			
	
		}
		
		 */
		
		
		
		
		
	