@charset "UTF-8";

		/* screen <= 480px; 넓이가 최대 480*/ 
		@media screen  and (max-width: 480px){
		
		
		:root{
			--text-color:white;
				/* #f0f4f5; */
			--background-color:#181818;
			    /* #121212; */
				/* whitesmoke; */
				/* #191919; */
			/* --accent-color: */
			font-size:12px; 
		}

		*{
		margin:0;
		padding:0;
		}

		body{
			/* background-image: url('img/mountains-1412683.png'); */	
			
			background-repeat : no-repeat;
			background-size : cover;
			margin:0;
			/* background-color: */
			background-color:var(--background-color);
			/* font: 17px/1.4 "orbitron";  */
			
			
		}
		
		.navbar {
			
			/* position:relative; */
			
			display:flex;
			justify-content:center;
			align-items:center;
			background-color:black;  
			/* #263343; */
			/* height:70px; */
			padding: 8px 12px;
			box-sizing:border-box;
			z-index:-1;
			
		}
		
		
		.search_logo{
			
			vertical-align:top;
			width:50px;
			height:50px;
			
		}
	
	
		.navbar_logo a{
			
			
			font-size:40px;
			text-decoration:none;
			color:var(--text-color);
		}
	

/* .side{
	position:relative;
} */

.sidebar{
	position:fixed;
	width:340px;
	/* height:1000px; */
	background:white;
	color:black;
	top:0px;
	left:-400px;
	z-index:1;
	transition:all .35s;
	height:100%;
}

.side .menu{
			position:absolute;
			margin-left:55px;
			margin-top:5px;
			/* margin-left:5.438rem; */
			padding-top:0.625rem;
			color:white;
	  		font-size:1.250rem;
	  		
}
 
 input[id="menuicon"]{

	display:none;
}


input[id="menuicon"]:checked + label + div{left:0px;}

input[id="menuicon"]:checked + label>img{position:fixed;top:-0px;}

/* input[id="menuicon"]:checked body .wrap{opacity:0.5;} */

.side img{
	position:absolute;
	width:3.125em;
	height:3.125em;
	z-index:9;
}


  .searchbar img{
	display:none;
} 

.sidebar>a{text-decoration:none;}

.sidebar div{height:14.28%;
			 color:white;
		     font-size:20px;
			 line-height:115px;	
			}

.sidebar div h2{
	text-align:right;
	margin-right:5px;
}




		.titlewrap{
			/* width:100%; */
			margin-top:30px;
		}		

		.titlewrap>.title{
			
			
			font-size:50px; /*80px*/
			color:var(--text-color);
			text-align:center;		
			margin-top:100px;
			margin-left:0px;		
			/* padding-bottom:50px; */
			/* background-color:#021859; */
}
.title>a{color:white;text-decoration:none;}
		
		
	.searchbar{			
			text-align:center;
			margin-top:1.25rem; /*20px*/
			margin-bottom:1.25rem;	
			margin-left:0px;	
		}
		
		input[class="searchbar"] {	
			
			width:280px;
			height:3.750rem;
			border-radius:24px;
		
		
	    }
	    
	.wrap{
	width:340px;
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
	margin-top:20px;	
}



.wrap>.wrapitems{
	/* background-color: rgba( 255, 255, 255, 0.5 ); */
	background-color:rgba(255,255,255,0.15);	
	/* 배경만 투명하게설정 */
	border:2px solid rgba(255,255,255,0.8);
	border-radius:16px;
	width:110px;
	height:110px;
	margin:2.5rem;
	margin-top:4.375rem;
	box-sizing:border-box;
	text-align:center;
	text-decoration:none;
	transition:all 0.5s;
	
	/* background: rgba(255,255,255,0.15); */
} 



/* a => inline 요소 */
.wrap>.wrapitems>h2{
	margin-top:0.125rem;
	font-size:16px;
	color:white;
		/* var(--text-color); */
	
} 

.wrap>a>img{
    width:3rem;
	/*height:38px; */
	margin-top:30px;

} 

.wrapitems:hover{
			
		background:gray;
		border:2px solid rgba(255,255,255,0.5);
		transform: scale(1.1);
		/* opacity: 1; */
		}


.desc{
	display:none;
	margin-top: 30px;
	margin-left:-60px;
    font-size: 10px;
    text-align:cetner;
    width: 220px;
    height:50px;
    font-style:italic; 
}

.wrapitems:hover .desc{display:block;}	
		
		
.footerwrap{
	display:none;
		
}

	
			
	}